/* Couleurs et polices
**********************************************/
:root{
    --blanc: white;
    --dark: rgb(10,10,10);
    --gris: rgb(100,100,100);
    --grisClair: rgb(180,180,180);
    --rouge: rgb(200,50,50);
    --rougeSombre: rgb(125,0,0);
    --vert: rgb(50,200,50);
    --bleu: rgb(50,50,200);
    --jaune: rgb(220,220,0);
}

body{
    background-color: var(--dark);
}

p{
    font-size: 1.2rem;
}


/* Général
**********************************************/
.ligne{
    display: flex;
    flex-direction: row;
}

.colonne{
    display: flex;
    flex-direction: column;
}

.centre{
    justify-content: center;
    align-items: center;
}
.centreV{
    justify-content: center;
}
.centreH{
    align-items: center;
}

.alignT{
    align-items: baseline;
}
.alignB{
    align-items: end;
}

/* Titres */
h3{
    margin-bottom: 0;
}
/* Border */
.borderTB{
    border-top: 1px solid var(--blanc);
    border-bottom: 1px solid var(--blanc);
    margin: .2rem;
    padding: .2rem;
}
.borderT{
    border-top: 1px solid var(--blanc);
    margin: .2rem;
    padding: .2rem;
}
.borderTBnoir{
    border-top: 1px solid var(--dark);
    border-bottom: 1px solid var(--dark);
    margin: .2rem;
    padding: .2rem;
}

/* Marges */
.marginL{
    margin-left: 1rem;
}
.margin1{
    margin: 1rem;
}
.marginB0{
    margin-bottom: 0;
}
.marginT{
    margin-top: .5rem;
}
.margin0{
    margin: 0;
}

/* texte */
.texteBlanc{
    color: var(--blanc);
}
.textePetit{
    font-size: 1rem;
}

/* Zones
***********************************************/
#divObjectif{
    color:var(--blanc);
}

/* divAlarme*/
#divAlarme{
    background-color: var(--rouge);
    width: 20rem;
    height: 5rem;
    margin-left: auto;
    margin-right: auto;
}
#nvAlarme{
    font-size: 3rem;
    margin: 1rem;
}

/* Dés */
#zoneAffichageDes, #zoneAffichageDesBoss{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 48rem;
}
.de{
    margin: .2rem;
    padding: 1rem;
    width: 2rem;
    height: 2rem;
    text-align: center;
    font-size: 1.5rem;
    z-index: 1;
    border: 1px solid black;
    border-radius: .2rem;
}
.deBlanc{
    background-color: var(--blanc);
}
.deRouge{
    background-color: var(--rouge);
}
#nbReussites{
    margin-left: 1rem;
    font-size: 2rem;
    font-weight: bolder;
}
.carreBlanc{
    background-color: var(--blanc);
    padding: .1rem;
    border-radius: .2rem;
    margin: .1rem;
    height: 4rem;
    width: 4rem;
}

/* Popups
***********************************************/
.popup{
    visibility: hidden;
    padding: 2rem;
    margin-top: .5rem;
    border-radius: 2rem;
    position: fixed;
    top: 0;
    height: 90%;
}

.visible{
    visibility: visible;
}

.invisible{
    opacity: 0;
}

#popupTuileRandom{
    background-color: var(--blanc);
    z-index: 99;
}

.popupGris{
    background-color: var(--gris);
    width: 80%;
}

#popupBriefing{
    background-color: var(--blanc);
    width: 80%;
}

/* messageObjectifTrouve */
#messageObjectifTrouve{
    color: var(--rouge);
    font-size: 1.5rem;
}


/* Images
************************************************/
.imageTuile{
    max-height: 20rem;
    max-width: 20rem;
    border-radius: 2rem;
}

.imageMob{
    height: 5rem;
    border-radius: 1rem;
    max-height: 20rem;
    max-width: 20rem;
}
.imageMobSurcouche{
    transform: translateX(-6rem);
}
.decalageD{
    transform: translateX(-4rem);
}

#iconeImpact{
    height: .8rem;
    margin-right: .5rem;
    transform: scale(150%);
}

#imageCaisse{
    max-height: 2rem;
}


/* Boutons
**********************************************/
button{
    border: none;
    padding: .5rem;
}
.boutonLarge{
    width: 8rem;
    height: 2rem;
}
.boutonEtroit{
    width: 4rem;
}
.boutonCarre{
    width: 4rem;
    height: 4rem;
}
.boutonFin{
    height: 1.2rem;
    padding: 0;
    font-style: italic;
}

.boutonBleu{
    background-color: var(--bleu);
    color: var(--blanc);
}

.boutonRouge{
    background-color: var(--rouge);
    color: var(--blanc);
}
.boutonRougeSombre{
    background-color: var(--rougeSombre);
    color: var(--blanc);
}

.boutonVert{
    background-color: var(--vert);
}

.boutonGris{
    background-color: var(--gris);
}

.boutonRond{
    width: 3rem;
    height: 3rem;
    border-radius: 2rem;
    font-size: 1.5rem;
}

.boutonBasPage{
    position: absolute;
    bottom: 1rem;
}

/* Checkbox [cf tuto : https://www.youtube.com/watch?v=D-pItG2wceM]
**********************************************/
.switch{
    -webkit-appearance: none;
    -moz-appearance: none ;
    appearance: none;
    position : relative ;
    height: 80px;
    width: 50px;
    background-color: var(--blanc);
    border-radius: 5rem;
    transition: background-color .2s;
    box-shadow: 0 0 15px var(--dark);
}
.switch::after{
    content:'';
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: var(--dark);
    transition: left .2s;
}
.switch:checked::after{
    top: 70%;
}
.switchVert:checked{
    background-color: var(--vert);
}
.switchBleu:checked{
    background-color: var(--bleu);
}
.switchRouge:checked{
    background-color: var(--rouge);
}
.switchJaune:checked{
    background-color: var(--jaune);
}
.switchVert{
    border: 4px solid var(--vert);
}
.switchBleu{
    border: 4px solid var(--bleu);
}
.switchRouge{
    border: 4px solid var(--rouge);
}
.switchJaune{
    border: 4px solid var(--jaune);
}

/* Affichage Mobile
*****************************************************/
@media screen and (max-width: 38rem) {
    /* Général */
    

    /* Popups */
    
    #popupTuileRandom{
        width: 90%;
    }
    
    .popupGris{
        background-color: var(--grisClair);
        width: 90%;
    }
    
    #popupBriefing{
        background-color: var(--blanc);
        width: 80%;
    }

    /* Images */
    .imageTuile{
        max-height: 16rem;
        max-width: 16rem;
    }


    /* Boutons */
    .boutonLarge{
        width: 6rem;
        height: 2rem;
    }

    /* orientation */
    .texteVertical{
        writing-mode: vertical-lr;
        text-orientation: sideways;
        transform: rotate(180deg);
    }

    /* dés */
    .de{
        margin: .1rem;
        padding: .5rem;
        width: 1.2rem;
        height: 1.2rem;
        text-align: center;
        font-size: 1.2rem;
        z-index: 1;
        border: 1px solid black;
        border-radius: .2rem;
    }

    .selectDe{
        transform: translateY(-1.2rem);
    }
}